
body{
	font-family: "myriad-pro-condensed-n3", "myriad-pro-condensed", sans-serif;
}

#header {
	margin-bottom: 30px;
}

hr.top {
	border: solid #666;
	border-width: 1px 0 0;
	clear: both;
	margin-top: 30px;
	margin-bottom: 10px;
	height: 0;
}

hr.bottom {
	border: solid #666;
	border-width: 1px 0 0;
	clear: both;
	margin-bottom: 10px;
	margin-bottom: 50px;
	height: 0;
}

hr.double {
	border: solid #666;
	border-width: 1px 0 1px 0;
	height: 9px !important;
}


/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
	font-family: "ltc-bodoni-175", "georgia", serif;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	line-height: 1.1;
	margin-bottom: 14px;
	margin-top: 14px;
}


/* FRONT PAGE - feature menu */
.pane-menu-menu-front-page-featured ul {
	text-align: center;
	padding: 0 0 0 13px;
}
.pane-menu-menu-front-page-featured ul li.leaf {
	list-style: none;
	list-style-image: none;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	font-family: "ltc-bodoni-175", "georgia", serif;
	font-size: 275%;
	text-transform: uppercase;
	padding: 27px 0;
	margin: 9px 0;
}

.pane-menu-menu-front-page-featured ul li.leaf:hover {
	border-top: 1px solid #f30;
	border-bottom: 1px solid #f30;
}

.pane-menu-menu-front-page-featured ul li.leaf a {
	color: #666666;
}


/* FRONT PAGE - visit a church */
#visitAchurch {
	display: none;
}
#visitAchurch.orbit {
	display: block;
}
#visitAchurch.orbit {
	margin: 9px 0 0 0;
}
#visitAchurch.orbit .views-row {
	text-align: right;
}
#visitAchurch.orbit .views-row > div,
#visitAchurch.orbit .views-row > a,
#visitAchurch.orbit .views-row > h2 {
	position: relative;
	visibility: hidden;
}
#visitAchurch.orbit .views-row:hover * {
	visibility: visible;
}
#visitAchurch.orbit .views-row .whitecover {
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255); opacity: 0.6;
	margin: -67% 0 -70% 0;
}
#visitAchurch.orbit .views-row .field-content,
#visitAchurch.orbit .views-row h2 {
	padding: 0 30px 0 0;
  	margin: 8px 0 0 0;
}
#visitAchurch.orbit .views-row .item-list {
	padding: 0 22px 0 0;
}
#visitAchurch.orbit .views-row .field-content,
#visitAchurch.orbit .views-row .item-list * {
	font-family: "myriad-pro-condensed-n3", "myriad-pro-condensed", sans-serif;
  	text-transform: uppercase;
  	color: #222;
  	font-size: 20px;
}
#visitAchurch.orbit .views-row h2 a {
	font-family: "ltc-bodoni-175", "georgia", serif;
	font-size: 43px;
	color: #222;
}
#visitAchurch.orbit .views-row .item-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#visitAchurch.orbit .views-row .item-list ul li * {
	display: inline;
	margin: 0;
	padding: 0;
}
#visitAchurch.orbit .views-row .item-list .field-name-field-church-service-day {
	font-weight: bold;
	padding: 0 8px 0 0;
}
#visitAchurch.orbit .views-row > .button {
	margin: 0 30px 15px 0;
}

div.orbit-wrapper #visitAchurch div.slider-nav span.right,
div.orbit-wrapper #visitAchurch div.slider-nav span.left {
	display: none;
	visibility: none;
}


/* FRONT PAGE - news */

#News {
	display: none;
	margin-top: 13px;
	width: 850px !important;
}
#News.orbit {
	display: block;
}

#News .views-row.orbit-slide {
 	background: #fff;
 	color: #666;
 	font-size: 16px;
}

#News .views-row.orbit-slide a {
	color: #333;
	font-size: 36px;
	padding: 0 15px 0 0;
}

.view-id-new_front_page.view-display-id-block h2 {
	color: #666;
}
.view-id-new_front_page.view-display-id-block h2 i {
	font-size: 24px;
}

.view-id-new_front_page.view-display-id-block div.slider-nav {
	position: absolute;
	right: 0px;
	top: 5px;
	width: 78px;
}

div.orbit-wrapper span.rotator {background: url('../../images/orbit/rotator-black.png') no-repeat; }
div.orbit-wrapper span.mask.move {background: url('../../images/orbit/timer-black.png') repeat 0 0; }
div.orbit-wrapper span.pause.active { background: url('../../images/orbit/pause-black.png') no-repeat 0 -40px; }
div.orbit-wrapper div.slider-nav span.right { background: url('../../images/orbit/right-arrow.png'); }
div.orbit-wrapper div.slider-nav span.left { background: url('../../images/orbit/left-arrow.png'); }
.lt-ie9 div.orbit-wrapper div.slider-nav span.right { background: url('../../images/orbit/right-arrow-small.png'); }
.lt-ie9 div.orbit-wrapper div.slider-nav span.left { background: url('../../images/orbit/left-arrow-small.png'); }

/* FRONT PAGE - promo thumbs */
.pane-promo-thumbs-front-page .views-row {
	margin-bottom: 25px;
}


/* Admin Tabs */
dl.tabs.pill {
	opacity:0.2;
}

dl.tabs.pill:hover {
	opacity:1;
}

dl.tabs.pill dd a:hover {
	background-color: #CCC;
}

/* INTERIOR - tabs */
.menu-block-2 .nav-bar {
	height: 47px; /* reset */
	background: transparent; /* reset */
	margin-top: 0; /* reset */
	padding: 0; /* reset */
	border-bottom: 1px solid #666;
}

.menu-block-2 .nav-bar > li {
	float: left; /* reset */
	display: block; /* reset */
	position: relative; /* reset */
	padding: 0 40px 0 0; /* reset */
	margin: 0 25px 0 0; /* reset */
	border: 1px none red; /* reset */
	border-right: none; /* reset */
	line-height: auto; /* reset */
}
.menu-block-2 .nav-bar > li:hover {
	background: transparent; /* reset */
	border-bottom: 8px solid #999;
}

.menu-block-2 .nav-bar > li.active {
	background: transparent; /* reset */
	border-bottom: 8px solid #F30;
}

.menu-block-2 .nav-bar > li.active:hover {
	background: transparent; /* reset */
	cursor: default;
}

.menu-block-2 .nav-bar > li > a {
	color: #999;
}

.menu-block-2 .nav-bar > li > a:first-child {
	position: relative; /* reset */
	padding: 0; /* reset */
	display: block; /* reset */
	text-decoration: none; /* reset */
	font-size: 20px; /* reset */

}

.menu-block-2 .nav-bar > li.active > a {
	color: #333; /* reset */
}


/* INTERIOR - header blocks */

.help .block {
	text-align: center;
}

.help .block h2 {
	text-transform: uppercase;
}

.help .block p {
	font-family: "ltc-bodoni-175", "georgia", serif;
	font-size: 22px;
}

/* Footer menu */
#footer-bottom {
	font-family: Arial, Verdana, sans-serif;
	margin-bottom: 220px;
}
#footer-bottom * {
	font-size: 13px !important;
	line-height: 20px !important;
}
#footer-bottom a {
	color: #707070;
	font-weight: bold;
}
#footer-bottom ul li ul a {
	color: #b0a7a7;
	font-weight: normal;
}
#footer-bottom ul.nav-bar {
	background: #fff;
	height: auto;
}
#footer-bottom ul.nav-bar > li {
	border: none !important;
	width: 230px;
}
#footer-bottom ul.nav-bar > li:hover {
	background: none;
}
#footer-bottom ul.nav-bar > li > a {
	padding: 0 0 0 0 !important;
}
#footer-bottom ul.nav-bar ul,
#footer-bottom ul.nav-bar ul ul {
	margin: 0 !important;
}
#footer-bottom ul.nav-bar li ul li {
	float: none;
	display: inline;
	list-style: circle;
}
#footer-bottom ul.flyout li,
#footer-bottom ul.nav-bar li ul li,
#footer-bottom ul.nav-bar a {
	border: none !important;
	background: none !important;
}
#footer-bottom ul.nav-bar > li.active {
	background: #fff !important;
	border-color: #CC2900 !important;
}


/* Locations View */
.view-id-locations table {
	width: 100%;
	border: none;
}
.view-id-locations table thead {
	display: none;
}
.view-id-locations table tr.even, tr.odd {
	background-color: #fff;
	border-bottom: none;
}
.view-id-locations table td.views-field-field-building-photo {
	width: 430px;
}
.view-id-locations table td.views-field-field-church-state {
	padding-top: 60px;
}

/* CHURCH PAGES */



/*
.field-collection-item-field-church-times * {
	float: left;
}
*/


/* TABLES */
.table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

.table th,
.table td {
  border: none;
}

.table thead{
	background: none;
}

.table tbody{
	border: none;
}

.table tr {
	border: none;
	background-color: transparent;
}

.table-condensed th,
.table-condensed td {
  padding: 2px 12px;
}

.table tbody tr.even, table tbody tr.alt { background: none; }

.table tbody tr:nth-child(even) { background: none; }

/* "IMAGE-BLOCK" STYLE (USED ON /WHAT-TO-EXPECT) */

.image-block{
	margin-bottom: 80px;
	width: 474px;
	background: url(../images/gradient.png) repeat-x 0 0;
}

.image-block-content{
	width: inherit;
	padding-right: 10px;
	padding-left: 10px;
}

.image-block-content h2{
	margin-top: 20px;
}

/* STORIES PAGE */
