
body{
	font-family: "myriad-pro-condensed-n3", "myriad-pro-condensed", sans-serif;
}

#header {
	margin-bottom: 30px;
}

hr.top {
	border: solid #666;
	border-width: 1px 0 0;
	clear: both;
	margin-top: 5px;
	margin-bottom: 20px;
	height: 0;
}

hr.top.double {
	margin: 0;
}

hr.bottom {
	border: solid #666;
	border-width: 1px 0 0;
	clear: both;
	margin-bottom: 50px;
	height: 0;
}

hr.top.bottom {
	margin-top: 0;
}

hr.double {
	border: solid #666;
	border-width: 1px 0 1px 0;
	height: 9px !important;
}


/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
	font-family: "ltc-bodoni-175", "georgia", serif;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	line-height: 1.1;
	margin-bottom: 14px;
	margin-top: 14px;
}


/* FRONT PAGE - feature menu */
.pane-menu-menu-front-page-featured ul {
	text-align: center;
	padding: 0 0 0 13px;
}
.pane-menu-menu-front-page-featured ul li.leaf {
	line-height: 1.1;
	list-style: none;
	list-style-image: none;
	font-family: "ltc-bodoni-175", "georgia", serif;
	font-size: 275%;
}
.pane-menu-menu-front-page-featured ul li.leaf span {
	font-size: 40%;
	text-transform: uppercase;
}
.pane-menu-menu-front-page-featured ul li.leaf:hover {
	color: #f30;
}
.pane-menu-menu-front-page-featured ul li.leaf a {
	color: #666666;
	padding: 27px 0;
	margin: 9px 0;
	display: block;
}
.pane-menu-menu-front-page-featured ul li.leaf a:hover {
	color: #f30;
}



/* FRONT PAGE - news */

#News {
	display: none;
	margin-top: 13px;
	width: 850px !important;
}
#News.orbit {
	display: block;
}

#News .views-row.orbit-slide {
 	background: #fff;
 	color: #666;
 	font-size: 23px;
}

#News .views-row.orbit-slide a {
	color: #333;
	font-size: 32px;
	padding: 0 3px 0 0;
}

.view-id-new_front_page.view-display-id-block h2 {
	color: #666;
	margin: 8px 0 0 0;
}
.view-id-new_front_page.view-display-id-block h2 i {
	font-size: 24px;
}

.view-id-new_front_page.view-display-id-block div.slider-nav {
	position: absolute;
	right: 0px;
	top: 5px;
	width: 78px;
}

.view-id-new_front_page.view-display-id-block div.timer {
	display: none;
	visibility: none;
}

/*
div.orbit-wrapper div.slider-nav span {
	width: 39px;
	height: 50px;
	top: 50%;
	margin-top: -25px;
}

div.orbit-wrapper div.slider-nav span.right {
	background-size: 75%;
	right: 0;
}

div.orbit-wrapper div.slider-nav span.left {
	background-size: 100%;
	left: 0;
}
*/


/* Admin Tabs */
dl.tabs.pill {
	opacity:0.2;
}

dl.tabs.pill:hover {
	opacity:1;
}

dl.tabs.pill dd a:hover {
	background-color: #CCC;
}

/* INTERIOR - tabs */
.menu-block-2 .nav-bar {
	height: 47px; /* reset */
	background: transparent; /* reset */
	margin-top: 0; /* reset */
	padding: 0; /* reset */
	border-bottom: 1px solid #666;
}

.menu-block-2 .nav-bar > li {
	float: left; /* reset */
	display: block; /* reset */
	position: relative; /* reset */
	padding: 0 40px 0 0; /* reset */
	margin: 0 25px 0 0; /* reset */
	border: 1px none red; /* reset */
	border-right: none; /* reset */
	line-height: auto; /* reset */
}
.menu-block-2 .nav-bar > li:hover {
	background: transparent; /* reset */
	border-bottom: 8px solid #999;
}

.menu-block-2 .nav-bar > li.active {
	background: transparent; /* reset */
	border-bottom: 8px solid #F30;
}

.menu-block-2 .nav-bar > li.active:hover {
	background: transparent; /* reset */
	cursor: default;
}

.menu-block-2 .nav-bar > li > a {
	color: #999;
}

.menu-block-2 .nav-bar > li > a:first-child {
	position: relative; /* reset */
	padding: 0; /* reset */
	display: block; /* reset */
	text-decoration: none; /* reset */
	font-size: 20px; /* reset */

}

.menu-block-2 .nav-bar > li.active > a {
	color: #333; /* reset */
}


/* INTERIOR - header blocks */

.help .block {
	text-align: center;
}

.help .block h2 {
	text-transform: uppercase;
}

.help .block p {
	font-family: "ltc-bodoni-175", "georgia", serif;
	font-size: 22px;
}

/* Footer menu */
#footer-bottom {
	font-family: Arial, Verdana, sans-serif;
	margin-bottom: 220px;
}
#footer-bottom * {
	font-size: 13px !important;
	line-height: 20px !important;
}
#footer-bottom a {
	color: #707070;
	font-weight: bold;
}
#footer-bottom ul li ul a {
	color: #b0a7a7;
	font-weight: normal;
}
#footer-bottom ul.nav-bar {
	background: #fff;
	height: auto;
}
#footer-bottom ul.nav-bar > li {
	border: none !important;
	width: 230px;
}
#footer-bottom ul.nav-bar > li:hover {
	background: none;
}
#footer-bottom ul.nav-bar li a {
	padding: 0 0 0 0 !important;
}
#footer-bottom ul.nav-bar ul,
#footer-bottom ul.nav-bar ul ul {
	margin: 0 !important;
}
#footer-bottom ul.nav-bar li ul li {
	float: none;
	display: block;
	margin: 0 0 0 0;
	list-style: circle;
}
#footer-bottom ul.expanded li,
#footer-bottom ul.nav-bar li ul li,
#footer-bottom ul.nav-bar a {
	border: none !important;
	background: none !important;
}
#footer-bottom ul.nav-bar > li.active {
	background: #fff !important;
	border-color: #CC2900 !important;
}

/* Locations View */
.view-id-locations table {
	width: 100%;
	border: none;
}
.view-id-locations table thead {
	display: none;
}
.view-id-locations table tr.even, tr.odd {
	background-color: #fff;
	border-bottom: none;
}
.view-id-locations table td.views-field-field-building-photo {
	width: 430px;
}
.view-id-locations table td.views-field-field-church-state {
	padding-top: 60px;
}

/* CHURCH PAGES */

.field-name-field-church-service-day{
	font-weight: bold;
}

.field-name-field-church-service-day:after{
	content: ":";
}

.field-name-field-church-service-time{
	margin-left: 20px;
}

/* TABLES */
.table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

.table th,
.table td {
  border: none;
}

.table thead{
	background: none;
}

.table tbody{
	border: none;
}

.table tr {
	border: none;
	background-color: transparent;
}

.table-condensed th,
.table-condensed td {
  padding: 2px 12px;
}

.table tbody tr.even, table tbody tr.alt { background: none; }

.table tbody tr:nth-child(even) { background: none; }

/* "IMAGE-BLOCK" STYLE (USED ON /WHAT-TO-EXPECT) */

.image-block{
	margin-bottom: 80px;
	background: url(../images/gradient.png) repeat-x 0 0;
}

.image-block-content{
	padding-right: 10px;
	padding-left: 10px;
}

.image-block-content h2{
	margin-top: 20px;
}

/* STORIES PAGE */

.view-id-stories .block-grid.one-up {
	margin: 0 0 4% 0;
}

.view-id-stories .views-row {
	position: relative;
}

.view-id-stories .views-field-field-image a {
	padding: 0;
	margin: 0;
}
.view-id-stories h4 {
	background: url(../images/gradient.png) repeat-x 0 -215px;
	width: 100%;
	min-height: 100px;
	margin-top: -1%;
	padding: 10px 0 0 20px;
}

.view-id-stories p {
	margin-top: -74px;
	padding: 0 0 0 20px;
}

.view-id-stories a.watch {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 11em;
	color: rgb(255, 255, 255); opacity: 0.4;
	height: 100%;
	line-height: 5em;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	
}

/* Footer Social Icons */

#footer-bottom ul.social * {
	font-size: 130% !important;
	line-height: normal !important;
	font-family: myriad-pro-condensed-n3, myriad-pro-condensed, sans-serif;
	color: #CCC;
}

#footer-bottom ul.social h2 {
	font-family: "ltc-bodoni-175", "georgia", serif;
	font-size: 100%;
	color: #666;
	padding: 10px 0 0 0;
	margin: 0;
}

#footer-bottom ul.social a:hover i {
	color: #ff3300;
}

#footer-bottom span {
	display: inline !important;
}

/* FRONT FEATURED */
.fronfeatured {
	position: relative;
}

.fronfeatured .image {
	width: 100%;
	height: 500px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #cdcdcd;
	overflow: hidden;
}

.fronfeatured h2 {
	font-size: 100px;
	color: red;
	position: absolute;
	bottom: 0px;
}

/* CrossRef from ESV */
a.esvBibleRef { 
	color:#F30;
	text-decoration:none; 
}

.pane-content ul li{
	list-style: none;
	margin-left: 15px;
}