.shim {
  padding-top: 91px;
}

body.toolbar .shim {
	padding-top: 120px !important;
}

#site-name {
  display: inline-block;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1.25;
  margin: 0;
  padding: 15px 0 0;
}

#block-menu-block-1 {
  position: fixed;
  top: 0;
  z-index: 19;
  width: 1170px;
  height: 66px;
  border-bottom: 1px solid #333;
  font-family: "myriad-pro-condensed-n3", "myriad-pro-condensed", sans-serif;
  text-transform: uppercase;
}

body.toolbar #block-menu-block-1 {
	top: 29px;
}

.menu-block-1 .nav-bar {
  height: 65px;
  background: #fff;
  margin-top: 0;
  padding: 0;
}
.menu-block-1 .nav-bar > li {
  line-height: 65px;
  border: none;
}
.menu-block-1 .nav-bar > li.has-flyout > a:first-child::after {
  border: none;
}
.menu-block-1 .nav-bar .flyout {
  background: #fff;
  border: none;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}

#nav-bar-tag-logo-wrapper {
  background: #666;
  padding: 0 15px;
  width: 360px;
  height: 65px;
  overflow: hidden;
}
#nav-bar-tag,
#nav-bar-tag a,
#nav-bar-logo {
  text-align: center;
  color: #fff;
}
#nav-bar-logo {
	margin: 7px 0 0 0;
}
#nav-bar-tag,
#nav-bar-tag a {
	font-size: 113%;
	font-weight: 400;
}
#nav-bar-buttons {
  float: right;
  padding-top: 8px;
}
#nav-bar-churches,
#nav-bar-search {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-top: 6px;
  cursor: pointer;
}
#nav-bar-churches {
  background: url('../images/navigation/icn-church.png') bottom left no-repeat;
}
#nav-bar-search {
  width: 25px;
  height: 25px;
  background: url('../images/navigation/icn-search.png') bottom right no-repeat;
}

#search-bar,
#churches-bar {
  width: 100%;
  height: 64px;
  background: #fff;
  position: fixed;
  top: -65px;
  z-index: 20;
  left: 50%;
  margin-left: -585px;
  text-align: center;
}

#search-bar input[type="text"] {
  border: none;
  margin: 0 0 0 0;
  height: 64px;
  line-height: 1.5;
  font-size: 40px;
  float: left;
  width: 1000px;
}

#churches-bar ul {
  list-style: none;
  margin: 16px 0 0 0;
  padding: 0;
}
#churches-bar ul li {
  list-style: none;
  display: inline;
  margin: 0 40px ;
  padding: 20px 0 0 0;
}
#churches-bar ul li a {
  font-family: "myriad-pro-condensed-n3", "myriad-pro-condensed", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

#search-bar-close,
#churches-bar-close {
  float: right;
  margin: 25px 10px 0 0;
}


/* states */

.menu-block-1 .nav-bar > li:hover {
  background: #fff;
}
.menu-block-1 .nav-bar > li > a {
  color: #333;
  font-size: 24px !important;
}
.menu-block-1 .nav-bar > li:last-child {
  border-right: none;
}
.menu-block-1 .nav-bar > li,
.menu-block-1 .nav-bar > li > a:first-child {
  padding: 0 23.5px !important;
}
.menu-block-1 .nav-bar > li.first,
.menu-block-1 .nav-bar > li.first > a:first-child {
  padding-left: 0 !important;
}
.menu-block-1 .nav-bar > li.last,
.menu-block-1 .nav-bar > li.last > a:first-child {
  padding-right: 0 !important;
}
.menu-block-1 .nav-bar > li.first > a.active:first-child,
.menu-block-1 .nav-bar > li.last > a.active:first-child {
  padding: 0 11.6px !important;
}


div.nav-active-arrow {
  background: url('../images/navigation/arrow.gif') center top no-repeat;
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 99;
  top: 65px;
  left: -25px;
  margin-left: 50%;
}

.menu-block-1 .nav-bar > li.first div.nav-active-arrow {
  left: -37px;
}

.menu-block-1 .nav-bar > li.last div.nav-active-arrow {
  left: -12px;
}


.menu-block-1 .nav-bar > li.active:hover {
	background: transparent;
	cursor: default;
}
.menu-block-1 .nav-bar > li.active {
	background: transparent; /* reset */
	border-color: transparent;  /* reset */
}
.menu-block-1 .nav-bar > li.active > a {
	color: #fff;
	background: #F30;
}


/* MOBILE NAV */


#toggle-mobile-nav  .nav-bar {
	background-color: #666;
	margin-bottom: 0;
	margin-top: 0;
}

#toggle-mobile-nav img{
	margin-top: 15px;
}

#toggle-mobile-nav .flyout-toggle{
	margin-top: -14px;
	font-size: 22px;
}

.nav-bar > li.has-flyout > a:first-child { padding-right: 36px; position: relative; }
.nav-bar > li.has-flyout > a:first-child:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: none 4px;
	border-color: transparent;
	position: absolute;
	right: 0;
	top: 0;
}