.shim {
  padding-top: 70px;
}

body.toolbar .shim {
	padding-top: 120px !important;
}



.top-bar-wrapper.hide-for-small {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 66px;
  line-height: 66px;
  background-color: #fff; /* temp */
  border-bottom: 1px solid #000;
}

.top-bar-wrapper.hide-for-small .top-bar {
	background-color: transparent;  /* reset */
}

.top-bar-wrapper.hide-for-small .top-bar div>* {
	height: 66px;
	line-height: 66px;
	vertical-align: middle;
}



.top-bar-wrapper.hide-for-small .top-bar ul > li a:not(.button) {
	color: #333; /* reset */
	font-family: "myriad-pro-condensed-n3", "myriad-pro-condensed", sans-serif;
	text-transform: uppercase;
	display: block; /* reset */
	font-size: 2em; /* reset */
	font-weight: normal; /* reset */
	height: inherit; /* reset */
	line-height: inherit; /* reset */
	padding: 0 15px; /* reset */
}




#nav-bar-churches,
#nav-bar-search {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-top: 6px;
  cursor: pointer;
}
#nav-bar-churches {
  background: url('../images/navigation/icn-church.png') bottom left no-repeat;
}
#nav-bar-search {
  width: 25px;
  height: 25px;
  background: url('../images/navigation/icn-search.png') bottom right no-repeat;
}

#search-bar,
#churches-bar {
  width: 100%;
  height: 64px;
  background: #fff;
  position: fixed;
  top: -65px;
  z-index: 20;
  left: 50%;
  margin-left: -585px;
  text-align: center;
}

#search-bar input[type="text"] {
  border: none;
  margin: 0 0 0 0;
  height: 64px;
  line-height: 1.5;
  font-size: 40px;
  float: left;
  width: 1000px;
}

#churches-bar ul {
  list-style: none;
  margin: 16px 0 0 0;
  padding: 0;
}
#churches-bar ul li {
  list-style: none;
  display: inline;
  margin: 0 40px ;
  padding: 20px 0 0 0;
}
#churches-bar ul li a {
  font-family: "myriad-pro-condensed-n3", "myriad-pro-condensed", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

#search-bar-close,
#churches-bar-close {
  float: right;
  margin: 25px 10px 0 0;
}


/* states */

.menu-block-1 .nav-bar > li:hover {
  background: #fff;
}
.menu-block-1 .nav-bar > li > a {
  color: #333;
  font-size: 24px !important;
}
.menu-block-1 .nav-bar > li:last-child {
  border-right: none;
}
.menu-block-1 .nav-bar > li,
.menu-block-1 .nav-bar > li > a:first-child {
  padding: 0 23.5px !important;
}
.menu-block-1 .nav-bar > li.first,
.menu-block-1 .nav-bar > li.first > a:first-child {
  padding-left: 0 !important;
}
.menu-block-1 .nav-bar > li.last,
.menu-block-1 .nav-bar > li.last > a:first-child {
  padding-right: 0 !important;
}
.menu-block-1 .nav-bar > li.first > a.active-trail:first-child,
.menu-block-1 .nav-bar > li.last > a.active-trail:first-child {
  padding: 0 11.6px !important;
}


div.nav-active-arrow {
  background: url('../images/navigation/arrow.gif') center top no-repeat;
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 99;
  top: 65px;
  left: -25px;
  margin-left: 50%;
}

.menu-block-1 .nav-bar > li.first div.nav-active-arrow {
  left: -37px;
}

.menu-block-1 .nav-bar > li.last div.nav-active-arrow {
  left: -12px;
}


.menu-block-1 .nav-bar > li.active-trail:hover {
	background: transparent;
	cursor: default;
}
.menu-block-1 .nav-bar > li.active-trail {
	background: transparent; /* reset */
	border-color: transparent;  /* reset */
}
.menu-block-1 .nav-bar > li.active-trail > a {
	color: #fff;
	background: #F30;
}


/* MOBILE NAV */


#toggle-mobile-nav  .nav-bar {
	background-color: #666;
	margin-bottom: 0;
	margin-top: 0;
}

#toggle-mobile-nav img{
	margin-top: 15px;
}

#toggle-mobile-nav .flyout-toggle{
	margin-top: -14px;
	font-size: 22px;
}

.nav-bar > li.has-flyout > a:first-child { padding-right: 36px; position: relative; }
.nav-bar > li.has-flyout > a:first-child:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: none 4px;
	border-color: transparent;
	position: absolute;
	right: 0;
	top: 0;
}